<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiniProjet"
        tools:targetApi="31">
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- TODO all these activities should be fragments, and so removed from there -->
        <activity android:name=".view.activity.MapActivity" />
        <activity android:name=".view.activity.PhotoActivity" />
        <activity android:name=".view.activity.ReservationActivity" />
        <activity android:name=".view.activity.ReviewActivity" />
    </application>

</manifest>